<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Welcome to the Express App</h1> 
    <a href="/"> Back To Form</a>
    <ul>
        <% for(let i = 0; i < messages.length; i++) { %>
          <li> <%= messages[i].user %> </li> 
          <li> <%= messages[i].text %> </li>
          <li> <%= messages[i].added.toLocaleString() %>  </li>
         <hr>
        <% } %>
      </ul>
      
</body>
</html>
